body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
    font-family: "Lobster", cursive;
}

h2 {
    color: #3046C5;
}

header h2 {
    color: #CEC8FF;
}

.site-footer {
    background-image:linear-gradient(#8f88c4,white);
    padding: 20px 0;
}

.jumbotron {
    margin: 0;
    padding: 50px;
    background-image: linear-gradient(to right, #5637DD, #3046C5, #60106B);
    color: white;
}

.row-content {
    padding: 50px 0px;
    
    
}

.navbar{
    background-color: #901CAD;
   
}
.tab-content {
    border: 1px solid #DDD;
    border-top: none;
    padding: 10px;
}
